# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/

# Ignore IDE and editor files
.idea/
.vscode/
*.swp

# Ignore git files
.git/
.gitignore

# Ignore Docker files
Dockerfile
.dockerignore
